<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>
    <h1 class="bmiCalculator--mainHeader">BMI Calculator</h1>
    <div class="bmiCalculator--formContainer">
        <form action="/calculateBMI" method="POST" class="bmiCalculator--form">
        Height:
        <input type="number" step=".01" name="height" id="height">
        Weight: 
        <input type="number" step=".01" name="weight" id="weight">
        <input type="submit" value="Submit">
    </form>
    </div>
    
</body>

</html>